/* Bliss wallpaper approx RGB:

Sky Blue: #87CEEB (RGB: 135, 206, 235)
Grass Green: #7CFC00 (RGB: 124, 252, 0) */

/* .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  align-content: center;
} */

/* hero banner containing search bar - background currently placeholder */
.heroBanner {
  background-image: url("Bliss-large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
  padding: 25px;
}
/* text inside hero banner */
.bannerText {
  text-align: left;
  color: darkblue;
}

.heroBanner h1 {
  padding-top: 59px;
  font-size: 2rem;
}

.heroBanner p {
  font-style: italic;
}

/* container for the media card displays */
.cardContainer {
  background-color: rgba(124, 252, 0, 0.2);
  padding: 12px;
  width: 100%;
}

.footer {
  text-align: center;
  color: rgb(26, 58, 94);
  background-color: rgb(135, 206, 235);
  width: 100%;
  margin-top: auto;
  padding-top: 10vh;
  padding-bottom: 3vh;
  font-style: italic;
  font-size: 0.9rem;
  height: 30vh;
}

/* adjustment for tablet screens and smaller */
@media screen and (max-width: 768px) {
  .heroBanner {
    height: 30vh; /* 30% of the viewport height for small screens */
  }
}

@media screen and (max-width: 768px) {
  .heroBanner h1 {
    font-size: 1.3rem;
  }

  .heroBanner p {
    font-size: 0.8rem;
  }
}
